header {
    max-width: 1100px;
    height: 100vh;
    background: url(../img/bg-slider-06.jpg) center/cover;
    nav {
        width: 80%;
        height: 12vh;
        display: grid;
        grid-template-columns: 20% 55% 25%;
        margin: 0 auto;
        padding: 5px;
        h3 {
            font-family: $font1;
            font-size: 2rem;
            text-align: left;
            padding-top: 10px;
        }
        ul {
            @include alignChilderen(space-around);
            text-transform: uppercase;
            font-family: $font2;
            font-size: 0.6rem;
    
        }
        .nav-icons {
            @include alignChilderen(space-around)
        }

       
    }
    
}