@font-face {
  font-family: "Allura";
  src: url(../font/Allura/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #1a191a;
  font-family: "Roboto", serif;
  color: rgb(233, 224, 224);
  text-align: center;
}

li {
  list-style: none;
}

header {
  max-width: 80%;
  height: 100vh;
  background: url(../img/bg-slider-06.jpg) center/cover;
  margin: 0 auto;
  padding: 0 50px;
}
header nav {
  height: 12vh;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10% 82% 8%;
}
@media screen and (max-width: 750px) {
  header nav ul li {
    display: none;
  }
  header nav .nav-icons {
    min-width: 60px;
  }
}
header nav .logo {
  font-family: "Allura", cursive;
  font-size: 2rem;
  font-weight: 200;
  text-align: left;
  padding-top: 10px;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
  font-family: "Popins", sans-serif;
  font-size: 0.6rem;
}
header nav .nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.6rem;
}
header nav .nav-icons i {
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header nav .nav-icons i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
header .header-text {
  margin-top: 130px;
}
header .header-text h2 {
  font-family: "Allura", cursive;
  color: rgb(166, 114, 69);
  font-size: 2rem;
}
header .header-text h1 {
  text-transform: uppercase;
  font-family: "Popins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 2px;
}
header .header-text img {
  font-size: 0.4rem;
  margin: 25px auto;
}
header .header-text h6 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.section-1 {
  margin-bottom: 20px;
}
.section-1 .section1-container {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  background: rgb(233, 224, 224);
  color: rgb(29, 28, 28);
  display: grid;
  grid-template-columns: 50% 50%;
}
.section-1 .section1-container .text-container {
  width: 95%;
  padding: 20px;
  border: 1px dashed grey;
}
.section-1 .section1-container .text-container h3 {
  font-family: "Allura", cursive;
  font-weight: 500;
  font-size: 1.2rem;
  color: rgb(166, 114, 69);
}
.section-1 .section1-container .text-container h2 {
  text-transform: uppercase;
  font-family: "Popins", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
}
.section-1 .section1-container .text-container img {
  font-size: 1.5rem;
  margin: 15px auto;
}
.section-1 .section1-container .text-container p {
  font-size: 0, 6rem;
  font-weight: 200;
  line-height: 2;
}
.section-1 .section1-container .text-container span img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-1 .section1-container .text-container h4 {
  font-family: "Popins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
.section-1 .section1-container .text-container h5 {
  text-transform: uppercase;
  font-family: "Popins", sans-serif;
  font-size: 0.8rem;
  color: rgb(143, 140, 140);
  font-weight: 200;
}
.section-1 .section1-container .img img {
  width: 100%;
  height: 100%;
}

.section-2 {
  width: 80%;
  margin: 0 auto 100px;
  position: relative;
}
.section-2:after {
  content: "";
  position: absolute;
  height: 450px;
  width: 100%;
  background: url(../img/bg-menu-01.jpg) center/cover;
  left: 50%;
  bottom: -330px;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.section-2 h2 {
  font-family: "Allura", cursive;
  font-size: 2rem;
  font-weight: 400;
  color: rgb(166, 114, 69);
}
.section-2 img {
  font-size: 1.5rem;
  margin: 10px auto;
}
.section-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.section-2 ul li {
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}
.section-2 .menu {
  width: 70%;
  border-top: 2px solid rgb(166, 114, 69);
  margin: 20px auto;
}
.section-2 .menu h4 {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 900;
  color: rgb(29, 28, 28);
}
.section-2 .menu h5 {
  font-family: "Popins", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
}
.section-2 .menu h6 {
  font-size: 0.6rem;
  color: rgb(166, 114, 69);
}
.section-2 .menu .menu-list {
  display: grid;
  grid-template-columns: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(233, 224, 224);
  color: rgb(29, 28, 28);
}
.section-2 .menu .menu-list .ml-left {
  display: grid;
  grid-template-columns: 30% 62% 8%;
  text-align: center;
  padding: 20px 10px;
}
.section-2 .menu .menu-list .ml-left img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.section-2 .menu .menu-list .ml-right {
  display: grid;
  grid-template-columns: 30% 62% 8%;
  text-align: center;
  padding: 20px 10px;
}
.section-2 .menu .menu-list .ml-right img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.section-3 {
  max-width: 1050px;
  margin: 0 auto;
  padding: 100px 15px 65px;
  display: grid;
  grid-template-columns: 30% 70%;
}
.section-3 .section3-left {
  background: black;
}
.section-3 .section3-left .s3-left-container {
  margin: 10px;
  padding: 15px;
  border: 1px dashed rgb(204, 188, 188);
}
.section-3 .section3-left .s3-left-container h2 {
  font-family: "Allura", cursive;
  color: rgb(166, 114, 69);
  font-size: 2rem;
  font-weight: 500;
}
.section-3 .section3-left .s3-left-container h3 {
  font-family: "Popins", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
}
.section-3 .section3-left .s3-left-container img {
  font-size: 1.5rem;
  margin: 15px auto;
}
.section-3 .section3-left .s3-left-container h4 {
  font-family: "Popins", sans-serif;
  text-transform: uppercase;
  color: rgb(166, 114, 69);
  font-size: 0.6rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.section-3 .section3-left .s3-left-container h5 {
  font-family: "Popins", sans-serif;
  font-weight: 500;
  font-size: 0.4rem;
}
.section-3 .section3-left .s3-left-container .text1 {
  margin: 15px auto;
}
.section-3 .section3-right {
  background: rgb(233, 224, 224);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-3 .section3-right .s3-right-container {
  color: rgb(29, 28, 28);
  padding: 20px;
}
.section-3 .section3-right .s3-right-container h2 {
  font-family: "Allura", cursive;
  color: rgb(166, 114, 69);
  font-size: 2rem;
  font-weight: 300;
}
.section-3 .section3-right .s3-right-container h3 {
  text-transform: uppercase;
  font-family: "Popins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
.section-3 .section3-right .s3-right-container img {
  height: 25px;
  margin: 25px;
}
.section-3 .section3-right .s3-right-container .form-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 30px;
}
.section-3 .section3-right .s3-right-container .form-inputs > * {
  padding: 10px 0;
  margin: 10px;
  outline: none;
  background: none;
  border: none;
}
.section-3 .section3-right .s3-right-container button {
  width: 80px;
  height: 30px;
  border-radius: 15px;
  background: rgb(29, 28, 28);
  font-size: 0.8rem;
  color: rgb(233, 224, 224);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.section-3 .section3-right .s3-right-container button:hover {
  background: rgb(233, 224, 224);
  color: rgb(29, 28, 28);
  border: none;
}

.section4 h2 {
  font-family: "Allura", cursive;
  font-size: 2rem;
  font-weight: 200;
  color: rgb(166, 114, 69);
}
.section4 h3 {
  text-transform: uppercase;
  font-family: "Popins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
.section4 img {
  height: 25px;
  margin: 25px;
}
.section4 .main-party {
  display: grid;
  grid-template-columns: 60% 40%;
}
.section4 .main-party .mp-left-up {
  display: grid;
  grid-template-columns: 40% 60%;
}/*# sourceMappingURL=index.css.map */